*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
  background-color: #1f1a1a;
  color: #fff;
}


#header{
  width: 100%;
  height: 70vh;
  background-image: url("Images/a1.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.container{
  padding: 10px 10%;
}

nav{
   display: flex; 
   align-items: center; 
   justify-content:flex-start; 
   padding: 20px;}

.logo{
  width: 120px;
}

nav ul li{ 
  display: inline-block; 
  list-style: none; 
  margin: 10px 20px; 
}

nav ul li a{ 
  color: #fff; 
  text-decoration: none; 
  font-size:17px; 
  position: relative; 
}

nav ul li a::after{ 
  content:''; 
  width:0;
   height: 3px; 
   background:purple;
    position: absolute; 
    left: 0; 
    bottom: -6px; 
  }

nav ul li a:hover::after{
  width: 100%;
}

.header-text{
  margin-top: 5%;
  font-size: 20px
}

.header-text p{
  color: rgb(218, 179, 245);
}

.header-text h2{
  margin-top: 10px;
  color: rgb(218, 179, 245);
}

.header-text h1 span{
  color: chocolate;
}


.social-icons{
  margin-top: 20px;
}

.social-icons a{
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
  transition: 0.3s;
}

.social-icons a:hover{
  color: #ff9800;
  transform: translateY(-3px);
}


.wave-divider{
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-divider svg{
  display: block;
  width: 100%;
  height: 80px;
}

#About{
  padding: 80px 10%;
  text-align: center;
  background-color: #696764;
}

.About-box{
  max-width: 600px;
  margin: auto;
}

.About-img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 20px;
}